* {
    margin: 0;
    
}

#openModal {
    display: flex;
    margin-top: 25%;
    margin-left: 50%;
    align-items: center;
    box-sizing: border-box; 
}

#ESC {
    display: flex;
    margin-top: 25%;
    margin-left: 50%;
    align-items: center;
    box-sizing: border-box;
}